* {
  box-sizing: border-box;
}

.register-wrapper {
  width: 100%;
  height: 100vh;
  background: #a8d3f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 1100px;
  background: #e7e8ec;
  border-radius: 16px;

  display: flex;
  overflow: hidden;
}

/* LEFT */
.register-left {
  flex: 1;
  padding: 40px;
}

.register-left img {
  width: 220px;
  margin-top: 20px;
  object-fit:contain;
  display:block;
}

/* RIGHT */
.register-right {
  flex: 1;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}


.register-right input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.register-right button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #a8d3f0;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}
.login-text {
  font-size: 13px;
  color:#666;
  text-align: right;
  
}
.register-divider {
 text-align: center;
 color: #999;
 font-size: 13px;
 margin: 20px 0;
}

.google-btn {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #a8d3f0;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}
.input-field{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border:1px solid #ddd;
  border-radius:6px;
}

.password-field{
  position:relative;
  width:100%;
}

.password-field input{
  padding-right:45px;
}

.eye-icon{
  position:absolute;
  right:12px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  color:#666;
  font-size:20px;
  display:flex;
  align-items:center;
  padding-bottom: 8px;
}

.register-btn{
  width:100%;
  padding:10px;
  background:#4a60e2;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
